@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0f0d;
  color: #e8f0ea;
  font-family: Georgia, serif;
}

/* scrollbar */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: #0a0f0d; }
::-webkit-scrollbar-thumb { background: #3d6642; border-radius: 3px; }
